{
  "openapi": "3.1.0",
  "info": {
    "title": "ReadArena Mobile API",
    "version": "1.0.0",
    "description": "Interactive documentation for all ReadArena Android API endpoints. Protected endpoints use a Laravel Sanctum bearer token. Send X-Locale: en or sw (or Accept-Language) to choose the language for localized validation and response messages. Save the account choice with PATCH /api/language."
  },
  "servers": [
    {
      "url": "https://arenayakusoma.eportsolutions.co.tz",
      "description": "Production server"
    },
    {
      "url": "http://localhost:8000",
      "description": "Local development server"
    },
    {
      "url": "http://10.0.2.2:8000",
      "description": "Android emulator connecting to a local development server"
    }
  ],
  "tags": [
    { "name": "Auth", "description": "Authentication endpoints" },
    { "name": "Profile", "description": "Profile management" },
    { "name": "Feedback", "description": "Reader improvement suggestions with private optional attachments" },
    { "name": "Language", "description": "English and Kiswahili preferences" },
    { "name": "Notifications", "description": "In-app notifications, Android FCM token registration, and channel delivery" },
    { "name": "Books", "description": "Book listing and details" },
    { "name": "Dashboard", "description": "Reader overview" },
    { "name": "Reading", "description": "Reading progress sync" },
    { "name": "Shelf", "description": "Reader book shelf statuses" },
    { "name": "Bookmarks", "description": "Personal page bookmarks and notes" },
    { "name": "Goals", "description": "Reading goal management" },
    { "name": "Lessons", "description": "Reader lessons" },
    { "name": "Shows", "description": "Scheduled shows" },
    { "name": "Duels", "description": "Verified reader duel invitations" },
    { "name": "Leaderboard", "description": "Reading-target and quiz-competition rankings for readers" },
    { "name": "Recommendations", "description": "Reader book recommendations" },
    { "name": "Reviews", "description": "Reader ratings and moderated book reviews" },
    { "name": "Quizzes", "description": "Quiz details and submission" }
  ],
  "paths": {
    "/api/auth/register": {
      "post": {
        "tags": ["Auth"],
        "summary": "Register a new mobile user",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Registration was successful",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/AuthRegisterResponse" }
              }
            }
          },
          "422": {
            "description": "Validation error"
          }
        }
      }
    },
    "/api/auth/login": {
      "post": {
        "tags": ["Auth"],
        "summary": "Authenticate a mobile user",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login successful",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/AuthLoginResponse" }
              }
            }
          },
          "401": {
            "description": "Invalid credentials"
          }
        }
      }
    },
    "/api/auth/google": {
      "post": {
        "tags": ["Auth"],
        "summary": "Authenticate a mobile user with Google",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GoogleLoginRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Google login successful",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/AuthLoginResponse" }
              }
            }
          },
          "401": {
            "description": "Unable to authenticate with Google"
          }
        }
      }
    },
    "/api/profile": {
      "get": {
        "tags": ["Profile"],
        "summary": "Get the authenticated user's profile",
        "security": [
          { "bearerAuth": [] }
        ],
        "responses": {
          "200": {
            "description": "Profile retrieved successfully",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ProfileResponse" }
              }
            }
          }
        }
      },
      "patch": {
        "tags": ["Profile"],
        "summary": "Update the signed-in user's profile, including an optional reader username",
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": { "type": "string" },
                  "username": { "type": ["string", "null"], "minLength": 3, "maxLength": 24, "pattern": "^[a-z0-9_]+$", "description": "Optional for readers. Must be unique; send null to clear it." },
                  "email": { "type": "string", "format": "email" },
                  "phone_number": { "type": ["string", "null"] },
                  "locale": { "type": "string", "enum": ["en", "sw"], "description": "Saved portal and Android language preference" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Profile updated" },
          "422": { "description": "Validation error" }
        }
      }
    },
    "/api/translations/{locale}": {
      "get": {
        "tags": ["Language"],
        "summary": "Get the shared UI translation catalog for English or Kiswahili",
        "parameters": [
          {
            "name": "locale",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "enum": ["en", "sw"] }
          }
        ],
        "responses": {
          "200": {
            "description": "Translation catalog retrieved; English returns an empty map and uses each key as the source text",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/TranslationCatalogResponse" }
              }
            }
          },
          "404": { "description": "Unsupported locale" }
        }
      }
    },
    "/api/language": {
      "get": {
        "tags": ["Language"],
        "summary": "Get the saved language and supported languages",
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": {
            "description": "Language preference retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "locale": { "type": "string", "enum": ["en", "sw"] },
                        "supported_locales": { "type": "array", "items": { "$ref": "#/components/schemas/SupportedLocale" } }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": ["Language"],
        "summary": "Save English or Kiswahili as the signed-in user's language",
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["locale"],
                "properties": { "locale": { "type": "string", "enum": ["en", "sw"] } }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Language preference saved" },
          "422": { "description": "Unsupported locale" }
        }
      }
    },
    "/api/profile/photo": {
      "post": {
        "tags": ["Profile"],
        "summary": "Upload or replace the signed-in user's profile photo (JPEG, PNG, or WebP up to 2 MB)",
        "security": [
          { "bearerAuth": [] }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/ProfilePhotoUploadRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Profile photo uploaded successfully; returns the refreshed profile details and photo URL",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ProfilePhotoResponse" }
              }
            }
          },
          "422": { "description": "The file must be a JPEG, PNG, or WebP image no larger than 2 MB" },
          "413": { "description": "The PHP or web server request limit rejected the upload" }
        }
      }
    },
    "/api/feedback": {
      "get": {
        "tags": ["Feedback"],
        "summary": "List improvement ideas submitted by the signed-in reader",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          { "name": "page", "in": "query", "schema": { "type": "integer", "minimum": 1 } },
          { "name": "per_page", "in": "query", "schema": { "type": "integer", "minimum": 1, "maximum": 50 } }
        ],
        "responses": {
          "200": { "description": "The reader's ideas and pagination metadata", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ReaderIdeasResponse" } } } },
          "401": { "description": "Authentication required" },
          "403": { "description": "Only reader accounts can use this endpoint" }
        }
      },
      "post": {
        "tags": ["Feedback"],
        "summary": "Submit an improvement idea, optionally with a file attachment",
        "description": "Send multipart/form-data. Attachments up to 10 MB are stored privately and can only be downloaded by the submitting reader or an administrator. Submission is limited to five requests per minute.",
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": { "multipart/form-data": { "schema": { "$ref": "#/components/schemas/ReaderIdeaRequest" } } }
        },
        "responses": {
          "201": { "description": "Idea submitted", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ReaderIdeaResponse" } } } },
          "401": { "description": "Authentication required" },
          "403": { "description": "Only reader accounts can submit ideas" },
          "413": { "description": "The PHP or web server request limit rejected the upload" },
          "422": { "description": "Invalid title, description, category, attachment type, or attachment size" },
          "429": { "description": "Submission rate limit exceeded" }
        }
      }
    },
    "/api/feedback/{idea}": {
      "get": {
        "tags": ["Feedback"],
        "summary": "Get one improvement idea submitted by the signed-in reader",
        "security": [{ "bearerAuth": [] }],
        "parameters": [{ "name": "idea", "in": "path", "required": true, "schema": { "type": "integer" } }],
        "responses": {
          "200": { "description": "Idea details and current review status", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ReaderIdeaResponse" } } } },
          "401": { "description": "Authentication required" },
          "403": { "description": "Only reader accounts can use this endpoint" },
          "404": { "description": "Idea does not exist or belongs to another reader" }
        }
      }
    },
    "/api/feedback/{idea}/attachment": {
      "get": {
        "tags": ["Feedback"],
        "summary": "Download a private idea attachment",
        "description": "Only the reader who submitted the idea and administrators can download its attachment.",
        "security": [{ "bearerAuth": [] }],
        "parameters": [{ "name": "idea", "in": "path", "required": true, "schema": { "type": "integer" } }],
        "responses": {
          "200": { "description": "Attachment download", "content": { "application/octet-stream": { "schema": { "type": "string", "format": "binary" } } } },
          "401": { "description": "Authentication required" },
          "404": { "description": "Attachment does not exist or is not accessible to this account" }
        }
      }
    },
    "/api/books": {
      "get": {
        "tags": ["Books"],
        "summary": "Search published books with quiz counts and aggregate reader performance",
        "security": [
          { "bearerAuth": [] }
        ],
        "parameters": [
          { "name": "q", "in": "query", "schema": { "type": "string" }, "description": "Search title, description, ISBN, author, or publisher" },
          { "name": "genre", "in": "query", "schema": { "type": "string" }, "description": "Genre slug or name" },
          { "name": "author", "in": "query", "schema": { "type": "string" }, "description": "Filter by author name" },
          { "name": "publisher", "in": "query", "schema": { "type": "string" }, "description": "Filter by publisher name" },
          { "name": "language", "in": "query", "schema": { "type": "string" } },
          { "name": "publication_year", "in": "query", "schema": { "type": "integer" } },
          { "name": "min_pages", "in": "query", "schema": { "type": "integer", "minimum": 1 } },
          { "name": "max_pages", "in": "query", "schema": { "type": "integer", "minimum": 1 } },
          { "name": "reading_status", "in": "query", "schema": { "type": "string", "enum": ["want_to_read", "currently_reading", "completed", "paused", "abandoned"] }, "description": "Filter to books on the signed-in reader's shelf" },
          { "name": "quiz_available", "in": "query", "schema": { "type": "boolean" } },
          { "name": "featured", "in": "query", "schema": { "type": "boolean" } },
          { "name": "min_rating", "in": "query", "schema": { "type": "number", "minimum": 1, "maximum": 5 }, "description": "Minimum average approved review rating" },
          { "name": "sort", "in": "query", "schema": { "type": "string", "enum": ["newest", "title", "highest_rated", "popularity", "most_completed", "most_dueled"] } },
          { "name": "page", "in": "query", "schema": { "type": "integer", "minimum": 1 } },
          { "name": "per_page", "in": "query", "schema": { "type": "integer", "minimum": 1, "maximum": 50 } }
        ],
        "responses": {
          "200": {
            "description": "Books retrieved successfully",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/BooksResponse" }
              }
            }
          }
        }
      }
    },
    "/api/books/{book}": {
      "get": {
        "tags": ["Books"],
        "summary": "Get a published book, its quizzes, and aggregate reader performance",
        "security": [
          { "bearerAuth": [] }
        ],
        "parameters": [
          {
            "name": "book",
            "in": "path",
            "required": true,
            "schema": { "type": "integer" },
            "description": "Book ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Book retrieved successfully",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/BookDetailResponse" }
              }
            }
          }
        }
      }
    },
    "/api/public/books/{book}/quiz-performance": {
      "get": {
        "tags": ["Books"],
        "summary": "Get public quiz counts and aggregate reader performance for a published book",
        "description": "No bearer token is required. Returns only aggregate results for published quizzes; reader identities and individual scores are never exposed.",
        "parameters": [
          { "name": "book", "in": "path", "required": true, "schema": { "type": "integer" }, "description": "Book ID" }
        ],
        "responses": {
          "200": {
            "description": "Public book quiz performance",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PublicBookQuizPerformanceResponse" } } }
          },
          "404": { "description": "Book not found or not published" },
          "429": { "description": "Rate limit exceeded" }
        }
      }
    },
    "/api/books/{book}/content": {
      "get": {
        "tags": ["Books"], "summary": "Stream the published book PDF to an authenticated reader", "security": [{ "bearerAuth": [] }],
        "parameters": [{ "name": "book", "in": "path", "required": true, "schema": { "type": "integer" } }],
        "responses": { "200": { "description": "PDF content streamed with private cache headers", "content": { "application/pdf": { "schema": { "type": "string", "format": "binary" } } } }, "401": { "description": "Unauthenticated" }, "404": { "description": "Book content not found" } }
      }
    },
    "/api/books/{book}/progress": {
      "post": {
        "tags": ["Reading"],
        "summary": "Sync reading progress for a book",
        "security": [
          { "bearerAuth": [] }
        ],
        "parameters": [
          {
            "name": "book",
            "in": "path",
            "required": true,
            "schema": { "type": "integer" },
            "description": "Book ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ProgressSyncRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Progress synced successfully",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ProgressSyncResponse" }
              }
            }
          }
        }
      }
    },
    "/api/quizzes/{quiz}/submit": {
      "post": {
        "tags": ["Quizzes"],
        "summary": "Submit choice or text responses; written explanations may need manual review",
        "security": [
          { "bearerAuth": [] }
        ],
        "parameters": [
          {
            "name": "quiz",
            "in": "path",
            "required": true,
            "schema": { "type": "integer" },
            "description": "Quiz ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/QuizSubmissionRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Quiz auto-graded, or held for written-response review. Pending responses return a null score until finalized.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/QuizSubmissionResponse" }
              }
            }
          }
        }
      }
    },
    "/api/auth/forgot-password": {
      "post": {
        "tags": ["Auth"],
        "summary": "Request a password reset email",
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "type": "object", "required": ["email"], "properties": { "email": { "type": "string", "format": "email" } } } } }
        },
        "responses": { "200": { "description": "A reset email is sent when the account exists" }, "422": { "description": "Validation error" } }
      }
    },
    "/api/auth/reset-password": {
      "post": {
        "tags": ["Auth"],
        "summary": "Reset a password using the emailed token",
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "type": "object", "required": ["token", "email", "password", "password_confirmation"], "properties": { "token": { "type": "string" }, "email": { "type": "string", "format": "email" }, "password": { "type": "string", "format": "password" }, "password_confirmation": { "type": "string", "format": "password" } } } } }
        },
        "responses": { "200": { "description": "Password reset; existing API tokens are revoked" }, "422": { "description": "Invalid or expired token" } }
      }
    },
    "/api/auth/logout": {
      "post": {
        "tags": ["Auth"], "summary": "Revoke the current device token", "security": [{ "bearerAuth": [] }],
        "responses": { "200": { "description": "Logged out successfully" }, "401": { "description": "Unauthenticated" } }
      }
    },
    "/api/notifications": {
      "get": {
        "tags": ["Notifications"],
        "summary": "List the signed-in reader's notifications",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          { "name": "filter", "in": "query", "schema": { "type": "string", "enum": ["all", "unread", "read"] } },
          { "name": "page", "in": "query", "schema": { "type": "integer", "minimum": 1 } },
          { "name": "per_page", "in": "query", "schema": { "type": "integer", "minimum": 1, "maximum": 50 } }
        ],
        "responses": { "200": { "description": "Notification page, pagination metadata, and unread count" } }
      }
    },
    "/api/notifications/read-all": {
      "patch": { "tags": ["Notifications"], "summary": "Mark all unread notifications as read", "security": [{ "bearerAuth": [] }], "responses": { "200": { "description": "Unread notifications marked as read" } } }
    },
    "/api/notifications/{notification}/read": {
      "patch": { "tags": ["Notifications"], "summary": "Mark an owned notification as read", "security": [{ "bearerAuth": [] }], "parameters": [{ "name": "notification", "in": "path", "required": true, "schema": { "type": "integer" } }], "responses": { "200": { "description": "Notification marked as read" }, "404": { "description": "Notification not found for this reader" } } }
    },
    "/api/notifications/{notification}": {
      "delete": { "tags": ["Notifications"], "summary": "Delete an owned notification", "security": [{ "bearerAuth": [] }], "parameters": [{ "name": "notification", "in": "path", "required": true, "schema": { "type": "integer" } }], "responses": { "200": { "description": "Notification deleted" }, "404": { "description": "Notification not found for this reader" } } }
    },
    "/api/notification-preferences": {
      "get": { "tags": ["Notifications"], "summary": "Get in-app notification preferences", "security": [{ "bearerAuth": [] }], "responses": { "200": { "description": "Preference state for each supported notification type" } } },
      "patch": { "tags": ["Notifications"], "summary": "Update in-app notification preferences", "security": [{ "bearerAuth": [] }], "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "required": ["preferences"], "properties": { "preferences": { "type": "array", "items": { "type": "object", "required": ["type", "in_app_enabled"], "properties": { "type": { "type": "string", "enum": ["quiz_passed", "quiz_failed", "duel_invitation", "duel_response", "show_rsvp", "show_application_status", "goal_milestone"] }, "in_app_enabled": { "type": "boolean" } } } } } } } } }, "responses": { "200": { "description": "Notification preferences updated" }, "422": { "description": "Invalid preference type or value" } } }
    },
    "/api/push-token": {
      "put": {
        "tags": ["Notifications"],
        "summary": "Register or refresh this Android device's Firebase push token",
        "description": "Call after Firebase issues a new registration token and when the signed-in account changes. Tokens are tied to the authenticated reader and never returned in API responses.",
        "security": [{ "bearerAuth": [] }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PushTokenRequest" } } } },
        "responses": { "201": { "description": "Push token registered", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PushTokenResponse" } } } }, "401": { "description": "Authentication required" }, "422": { "description": "Invalid push token or platform" } }
      },
      "delete": {
        "tags": ["Notifications"],
        "summary": "Unregister this device's Firebase push token",
        "description": "Call when the reader signs out or disables push notifications. Only a token belonging to the signed-in reader can be removed.",
        "security": [{ "bearerAuth": [] }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "required": ["token"], "properties": { "token": { "type": "string", "maxLength": 512 } } } } } },
        "responses": { "200": { "description": "Token removed" }, "404": { "description": "Token is not registered to this account" }, "422": { "description": "Token is required" } }
      }
    },
    "/api/dashboard": {
      "get": {
        "tags": ["Dashboard"], "summary": "Get reader statistics and dashboard sections", "security": [{ "bearerAuth": [] }],
        "responses": { "200": { "description": "Dashboard data including stats, progress, goals, shows, lessons, recommendations, and featured books" } }
      }
    },
    "/api/reading/progress": {
      "get": {
        "tags": ["Reading"], "summary": "List the signed-in user's reading progress", "security": [{ "bearerAuth": [] }],
        "responses": { "200": { "description": "Progress records and associated published books" } }
      }
    },
    "/api/shelf": {
      "get": { "tags": ["Shelf"], "summary": "List the signed-in reader's book shelf", "security": [{ "bearerAuth": [] }], "responses": { "200": { "description": "Published books and their shelf statuses" } } }
    },
    "/api/books/{book}/shelf": {
      "put": { "tags": ["Shelf"], "summary": "Add a book to the reader shelf or update its status", "security": [{ "bearerAuth": [] }], "parameters": [{ "name": "book", "in": "path", "required": true, "schema": { "type": "integer" } }], "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "required": ["status"], "properties": { "status": { "type": "string", "enum": ["want_to_read", "currently_reading", "completed", "paused", "abandoned"] } } } } } }, "responses": { "200": { "description": "Shelf status saved" }, "422": { "description": "Invalid status or unpublished book" } } },
      "delete": { "tags": ["Shelf"], "summary": "Remove a book from the reader shelf", "security": [{ "bearerAuth": [] }], "parameters": [{ "name": "book", "in": "path", "required": true, "schema": { "type": "integer" } }], "responses": { "200": { "description": "Book removed from shelf" } } }
    },
    "/api/bookmarks": {
      "get": { "tags": ["Bookmarks"], "summary": "List the signed-in reader's bookmarks", "security": [{ "bearerAuth": [] }], "responses": { "200": { "description": "Bookmarks with book, page, and optional label" } } },
      "post": { "tags": ["Bookmarks"], "summary": "Bookmark a page in a published book", "security": [{ "bearerAuth": [] }], "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "required": ["book_id", "page_number"], "properties": { "book_id": { "type": "integer" }, "page_number": { "type": "integer", "minimum": 1 }, "label": { "type": "string", "maxLength": 255 } } } } } }, "responses": { "201": { "description": "Bookmark saved" }, "422": { "description": "Invalid or duplicate page number" } } }
    },
    "/api/bookmarks/{bookmark}": {
      "patch": { "tags": ["Bookmarks"], "summary": "Update a bookmark page or label", "security": [{ "bearerAuth": [] }], "parameters": [{ "name": "bookmark", "in": "path", "required": true, "schema": { "type": "integer" } }], "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "required": ["page_number"], "properties": { "page_number": { "type": "integer", "minimum": 1 }, "label": { "type": "string", "maxLength": 255 } } } } } }, "responses": { "200": { "description": "Bookmark updated" }, "403": { "description": "Bookmark belongs to another reader" } } },
      "delete": { "tags": ["Bookmarks"], "summary": "Delete a bookmark owned by the signed-in reader", "security": [{ "bearerAuth": [] }], "parameters": [{ "name": "bookmark", "in": "path", "required": true, "schema": { "type": "integer" } }], "responses": { "200": { "description": "Bookmark deleted" }, "403": { "description": "Bookmark belongs to another reader" } } }
    },
    "/api/goals": {
      "get": {
        "tags": ["Goals"], "summary": "List the signed-in user's reading goals", "security": [{ "bearerAuth": [] }],
        "responses": { "200": { "description": "Reading goals" } }
      },
      "post": {
        "tags": ["Goals"], "summary": "Create a reading goal", "security": [{ "bearerAuth": [] }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "required": ["title", "goal_type", "target_value", "start_date", "end_date"], "properties": { "title": { "type": "string" }, "goal_type": { "type": "string", "enum": ["books", "pages"] }, "book_id": { "type": "integer", "description": "Required for pages goals" }, "target_value": { "type": "integer", "minimum": 1 }, "start_date": { "type": "string", "format": "date" }, "end_date": { "type": "string", "format": "date" } } } } } },
        "responses": { "201": { "description": "Goal created" }, "422": { "description": "Validation error" } }
      }
    },
    "/api/goals/{goal}": {
      "patch": {
        "tags": ["Goals"], "summary": "Update one of the signed-in user's reading goals", "security": [{ "bearerAuth": [] }],
        "parameters": [{ "name": "goal", "in": "path", "required": true, "schema": { "type": "integer" } }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "required": ["title", "goal_type", "target_value", "start_date", "end_date"], "properties": { "title": { "type": "string" }, "goal_type": { "type": "string", "enum": ["books", "pages"] }, "book_id": { "type": "integer", "description": "Required for pages goals" }, "target_value": { "type": "integer", "minimum": 1 }, "start_date": { "type": "string", "format": "date" }, "end_date": { "type": "string", "format": "date" } } } } } },
        "responses": { "200": { "description": "Goal updated" }, "404": { "description": "Goal not found" }, "422": { "description": "Validation error" } }
      },
      "delete": {
        "tags": ["Goals"], "summary": "Delete one of the signed-in user's goals", "security": [{ "bearerAuth": [] }],
        "parameters": [{ "name": "goal", "in": "path", "required": true, "schema": { "type": "integer" } }],
        "responses": { "200": { "description": "Goal deleted" }, "404": { "description": "Goal not found" } }
      }
    },
    "/api/lessons": {
      "get": {
        "tags": ["Lessons"], "summary": "List lessons associated with the signed-in user", "security": [{ "bearerAuth": [] }],
        "responses": { "200": { "description": "Lessons" } }
      },
      "post": {
        "tags": ["Lessons"], "summary": "Create a private draft or verified published lesson", "security": [{ "bearerAuth": [] }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "required": ["book_id", "title", "content", "visibility", "status"], "properties": { "book_id": { "type": "integer" }, "title": { "type": "string" }, "content": { "type": "string", "maxLength": 20000 }, "visibility": { "type": "string", "enum": ["private", "followers", "public"] }, "status": { "type": "string", "enum": ["draft", "published"] } } } } } },
        "responses": { "201": { "description": "Lesson created" }, "422": { "description": "Validation or verification error" } }
      }
    },
    "/api/lessons/{lesson}": {
      "patch": {
        "tags": ["Lessons"], "summary": "Update a lesson owned by the signed-in reader", "security": [{ "bearerAuth": [] }],
        "parameters": [{ "name": "lesson", "in": "path", "required": true, "schema": { "type": "integer" } }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "required": ["book_id", "title", "content", "visibility", "status"], "properties": { "book_id": { "type": "integer" }, "title": { "type": "string" }, "content": { "type": "string" }, "visibility": { "type": "string", "enum": ["private", "followers", "public"] }, "status": { "type": "string", "enum": ["draft", "published"] } } } } } },
        "responses": { "200": { "description": "Lesson updated" }, "403": { "description": "Lesson belongs to another reader" }, "422": { "description": "Validation or verification error" } }
      },
      "delete": { "tags": ["Lessons"], "summary": "Delete a lesson owned by the signed-in reader", "security": [{ "bearerAuth": [] }], "parameters": [{ "name": "lesson", "in": "path", "required": true, "schema": { "type": "integer" } }], "responses": { "200": { "description": "Lesson deleted" }, "403": { "description": "Lesson belongs to another reader" } } }
    },
    "/api/recommendations": {
      "get": { "tags": ["Recommendations"], "summary": "List the signed-in reader's recommendations", "security": [{ "bearerAuth": [] }], "responses": { "200": { "description": "Reader recommendations" } } },
      "post": {
        "tags": ["Recommendations"], "summary": "Create a private draft or verified published recommendation", "security": [{ "bearerAuth": [] }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "required": ["book_id", "message", "rating", "visibility", "status"], "properties": { "book_id": { "type": "integer" }, "message": { "type": "string", "maxLength": 5000 }, "rating": { "type": "integer", "minimum": 1, "maximum": 5 }, "visibility": { "type": "string", "enum": ["private", "followers", "public"] }, "status": { "type": "string", "enum": ["draft", "published"] } } } } } },
        "responses": { "201": { "description": "Recommendation created" }, "422": { "description": "Validation or verification error" } }
      }
    },
    "/api/recommendations/{recommendation}": {
      "patch": {
        "tags": ["Recommendations"], "summary": "Update a recommendation owned by the signed-in reader", "security": [{ "bearerAuth": [] }],
        "parameters": [{ "name": "recommendation", "in": "path", "required": true, "schema": { "type": "integer" } }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "required": ["book_id", "message", "rating", "visibility", "status"], "properties": { "book_id": { "type": "integer" }, "message": { "type": "string" }, "rating": { "type": "integer", "minimum": 1, "maximum": 5 }, "visibility": { "type": "string", "enum": ["private", "followers", "public"] }, "status": { "type": "string", "enum": ["draft", "published"] } } } } } },
        "responses": { "200": { "description": "Recommendation updated" }, "403": { "description": "Recommendation belongs to another reader" }, "422": { "description": "Validation or verification error" } }
      },
      "delete": { "tags": ["Recommendations"], "summary": "Delete a recommendation owned by the signed-in reader", "security": [{ "bearerAuth": [] }], "parameters": [{ "name": "recommendation", "in": "path", "required": true, "schema": { "type": "integer" } }], "responses": { "200": { "description": "Recommendation deleted" }, "403": { "description": "Recommendation belongs to another reader" } } }
    },
    "/api/books/{book}/reviews": {
      "get": { "tags": ["Reviews"], "summary": "List approved reviews and average rating for a published book", "security": [{ "bearerAuth": [] }], "parameters": [{ "name": "book", "in": "path", "required": true, "schema": { "type": "integer" } }], "responses": { "200": { "description": "Published reviews and rating summary" }, "404": { "description": "Book not found" } } }
    },
    "/api/reviews": {
      "get": { "tags": ["Reviews"], "summary": "List reviews written by the signed-in reader", "security": [{ "bearerAuth": [] }], "responses": { "200": { "description": "Reviews with pending, published, or rejected status" } } },
      "post": { "tags": ["Reviews"], "summary": "Submit a book review for moderation", "security": [{ "bearerAuth": [] }], "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "required": ["book_id", "rating", "body"], "properties": { "book_id": { "type": "integer" }, "rating": { "type": "integer", "minimum": 1, "maximum": 5 }, "title": { "type": "string" }, "body": { "type": "string", "minLength": 10, "maxLength": 5000 } } } } } }, "responses": { "201": { "description": "Review submitted with pending moderation status" }, "422": { "description": "Validation error or duplicate review" } } }
    },
    "/api/reviews/{review}": {
      "patch": { "tags": ["Reviews"], "summary": "Update an owned review and return it to moderation", "security": [{ "bearerAuth": [] }], "parameters": [{ "name": "review", "in": "path", "required": true, "schema": { "type": "integer" } }], "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "required": ["rating", "body"], "properties": { "rating": { "type": "integer", "minimum": 1, "maximum": 5 }, "title": { "type": "string" }, "body": { "type": "string", "minLength": 10, "maxLength": 5000 } } } } } }, "responses": { "200": { "description": "Review updated" }, "403": { "description": "Review belongs to another reader" } } },
      "delete": { "tags": ["Reviews"], "summary": "Delete a review owned by the signed-in reader", "security": [{ "bearerAuth": [] }], "parameters": [{ "name": "review", "in": "path", "required": true, "schema": { "type": "integer" } }], "responses": { "200": { "description": "Review deleted" }, "403": { "description": "Review belongs to another reader" } } }
    },
    "/api/shows": {
      "get": {
        "tags": ["Shows"], "summary": "List upcoming scheduled shows", "security": [{ "bearerAuth": [] }],
        "responses": { "200": { "description": "Scheduled shows with optional book details" } }
      }
    },
    "/api/shows/{show}/application-options": {
      "get": {
        "tags": ["Shows"],
        "summary": "List books this reader is eligible to use in a live show application",
        "description": "Only upcoming scheduled shows are open. Eligible books are published books for which the reader has passed a published quiz.",
        "security": [{ "bearerAuth": [] }],
        "parameters": [{ "name": "show", "in": "path", "required": true, "schema": { "type": "integer" } }],
        "responses": {
          "200": { "description": "Available book choices for the application form", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ShowApplicationOptionsResponse" } } } },
          "403": { "description": "Only reader accounts can apply" },
          "422": { "description": "Show is not open for applications" }
        }
      }
    },
    "/api/shows/{show}/rsvp": {
      "post": { "tags": ["Shows"], "summary": "RSVP to an upcoming show", "security": [{ "bearerAuth": [] }], "parameters": [{ "name": "show", "in": "path", "required": true, "schema": { "type": "integer" } }], "responses": { "201": { "description": "RSVP saved" }, "422": { "description": "Show is not open for registration" } } },
      "delete": { "tags": ["Shows"], "summary": "Cancel the signed-in reader's show RSVP", "security": [{ "bearerAuth": [] }], "parameters": [{ "name": "show", "in": "path", "required": true, "schema": { "type": "integer" } }], "responses": { "200": { "description": "RSVP cancelled" } } }
    },
    "/api/show-applications": {
      "get": { "tags": ["Shows"], "summary": "List applications submitted by the signed-in reader, including each selected book", "security": [{ "bearerAuth": [] }], "responses": { "200": { "description": "Reader applications and review statuses", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ShowApplicationsResponse" } } } } } }
    },
    "/api/shows/{show}/applications": {
      "post": {
        "tags": ["Shows"], "summary": "Apply to join an upcoming live show competition with a selected book", "description": "Choose one of the eligible books returned by GET /api/shows/{show}/application-options. The reader must have passed a published quiz for that book.", "security": [{ "bearerAuth": [] }],
        "parameters": [{ "name": "show", "in": "path", "required": true, "schema": { "type": "integer" } }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "required": ["book_id", "motivation"], "properties": { "book_id": { "type": "integer", "description": "Published book ID selected from the application options endpoint." }, "motivation": { "type": "string", "minLength": 20, "maxLength": 2000 } } } } } },
        "responses": { "201": { "description": "Application submitted with the selected book and verified quiz score", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ShowApplicationResponse" } } } }, "403": { "description": "Only reader accounts can apply" }, "422": { "description": "Pass a published quiz for the selected book and apply before the show starts" } }
      }
    },
    "/api/show-applications/{application}": {
      "delete": { "tags": ["Shows"], "summary": "Withdraw a pending live show application", "security": [{ "bearerAuth": [] }], "parameters": [{ "name": "application", "in": "path", "required": true, "schema": { "type": "integer" } }], "responses": { "200": { "description": "Application withdrawn", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ShowApplicationResponse" } } } }, "404": { "description": "Application not found" } } }
    },
    "/api/duels": {
      "get": {
        "tags": ["Duels"], "summary": "List duel invitations, verified books, and eligible opponents", "security": [{ "bearerAuth": [] }],
        "responses": { "200": { "description": "Duel records and books for which the reader and listed opponents passed a published quiz", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/DuelsResponse" } } } } }
      },
      "post": {
        "tags": ["Duels"], "summary": "Send another verified reader a duel invitation", "description": "Creates a pending invitation and sends an in-app notification. Both readers must have passed a published quiz for the selected book. Self-challenges and duplicate active invitations are rejected.", "security": [{ "bearerAuth": [] }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "required": ["book_id", "opponent_id"], "properties": { "book_id": { "type": "integer" }, "opponent_id": { "type": "integer" } } } } } },
        "responses": { "201": { "description": "Pending invitation created and opponent notified", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/DuelResponse" } } } }, "403": { "description": "Only reader accounts can challenge" }, "422": { "description": "Both readers must have passed a quiz for this published book; self-challenges and duplicate active invitations are rejected" } }
      }
    },
    "/api/duels/{duel}/respond": {
      "patch": {
        "tags": ["Duels"],
        "summary": "Accept or reject a pending invitation as the invited reader",
        "description": "Sends an in-app notification to the challenger after accepting or rejecting.",
        "security": [{ "bearerAuth": [] }],
        "parameters": [{ "name": "duel", "in": "path", "required": true, "schema": { "type": "integer" } }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "required": ["action"], "properties": { "action": { "type": "string", "enum": ["accept", "reject"] } } } } } },
        "responses": {
          "200": { "description": "Invitation response saved", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/DuelResponse" } } } },
          "403": { "description": "Only the invited reader can respond" },
          "422": { "description": "Only pending invitations can be answered" }
        }
      }
    },
    "/api/duels/{duel}/cancel": {
      "patch": {
        "tags": ["Duels"],
        "summary": "Cancel an invitation as its challenger",
        "security": [{ "bearerAuth": [] }],
        "parameters": [{ "name": "duel", "in": "path", "required": true, "schema": { "type": "integer" } }],
        "responses": {
          "200": { "description": "Invitation cancelled", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/DuelResponse" } } } },
          "403": { "description": "Only the challenger can cancel" },
          "422": { "description": "This duel can no longer be cancelled" }
        }
      }
    },
    "/api/leaderboard": {
      "get": {
        "tags": ["Leaderboard"],
        "summary": "Get reader rankings for reading goals or quiz competitions",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          { "name": "type", "in": "query", "schema": { "type": "string", "enum": ["reading", "quizzes"], "default": "quizzes" }, "description": "Reading ranks every reader by distinct completed books, with book-goal progress as tie-breakers. Quizzes ranks readers by best passing quiz scores." },
          { "name": "period", "in": "query", "schema": { "type": "string", "enum": ["daily", "weekly", "monthly", "all_time"], "default": "weekly" } },
          { "name": "page", "in": "query", "schema": { "type": "integer", "minimum": 1 }, "description": "Reading leaderboard page; omitted for the quiz leaderboard." },
          { "name": "per_page", "in": "query", "schema": { "type": "integer", "minimum": 1, "maximum": 50, "default": 20 }, "description": "Reading leaderboard page size." }
        ],
        "responses": {
          "200": {
            "description": "Ranked reader list. Reading results include every reader account and are paginated; quiz results include readers with a passing score.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/LeaderboardResponse" } } }
          },
          "422": { "description": "Invalid type, period, or pagination value" }
        }
      }
    },
    "/api/quizzes/{quiz}": {
      "get": {
        "tags": ["Quizzes"], "summary": "Get a published quiz, aggregate reader performance, and questions without exposing correct answers", "security": [{ "bearerAuth": [] }],
        "parameters": [{ "name": "quiz", "in": "path", "required": true, "schema": { "type": "integer" } }],
        "responses": {
          "200": {
            "description": "Quiz questions and choices, plus this reader's attempt count",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/QuizDetailResponse" } } }
          },
          "404": { "description": "Quiz or its book is unpublished or not found" }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "RegisterRequest": {
        "type": "object",
        "required": ["name", "email", "password", "password_confirmation"],
        "properties": {
          "name": { "type": "string", "example": "Android User" },
          "email": { "type": "string", "format": "email", "example": "android@example.com" },
          "password": { "type": "string", "format": "password", "example": "password123" },
          "password_confirmation": { "type": "string", "format": "password", "example": "password123" },
          "role": { "type": "string", "enum": ["reader", "author"], "example": "reader" },
          "device_name": { "type": "string", "example": "Pixel 8" },
          "locale": { "type": "string", "enum": ["en", "sw"], "default": "en" }
        }
      },
      "LoginRequest": {
        "type": "object",
        "required": ["email", "password"],
        "properties": {
          "email": { "type": "string", "format": "email", "example": "android@example.com" },
          "password": { "type": "string", "format": "password", "example": "password123" },
          "device_name": { "type": "string", "example": "Pixel 8" }
        }
      },
      "GoogleLoginRequest": {
        "type": "object",
        "required": ["access_token"],
        "properties": {
          "access_token": { "type": "string", "example": "google-access-token" },
          "role": { "type": "string", "enum": ["reader", "author"], "example": "reader" },
          "device_name": { "type": "string", "example": "Pixel 8" },
          "locale": { "type": "string", "enum": ["en", "sw"] }
        }
      },
      "UserSummary": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "name": { "type": "string" },
          "username": { "type": ["string", "null"], "description": "Optional unique reader username." },
          "email": { "type": "string" },
          "phone_number": { "type": ["string", "null"] },
          "role": { "type": "string" },
          "locale": { "type": "string", "enum": ["en", "sw"] }
        }
      },
      "AuthRegisterResponse": {
        "type": "object",
        "properties": {
          "message": { "type": "string" },
          "user": { "$ref": "#/components/schemas/UserSummary" },
          "token": { "type": "string" },
          "token_type": { "type": "string", "example": "Bearer" }
        }
      },
      "AuthLoginResponse": {
        "type": "object",
        "properties": {
          "message": { "type": "string" },
          "user": { "$ref": "#/components/schemas/UserSummary" },
          "token": { "type": "string" },
          "token_type": { "type": "string", "example": "Bearer" }
        }
      },
      "ProfileData": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "name": { "type": "string" },
          "username": { "type": ["string", "null"], "description": "Optional unique username for reader accounts." },
          "email": { "type": "string" },
          "phone_number": { "type": ["string", "null"] },
          "role": { "type": "string" },
          "locale": { "type": "string", "enum": ["en", "sw"] },
          "profile_photo_url": { "type": ["string", "null"] }
        }
      },
      "SupportedLocale": {
        "type": "object",
        "properties": {
          "code": { "type": "string", "enum": ["en", "sw"] },
          "name": { "type": "string", "enum": ["English", "Kiswahili"] }
        }
      },
      "TranslationCatalogResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "locale": { "type": "string", "enum": ["en", "sw"] },
              "translations": {
                "type": "object",
                "additionalProperties": { "type": "string" },
                "description": "Map English UI source strings to localized display strings"
              }
            }
          }
        }
      },
      "ProfileResponse": {
        "type": "object",
        "properties": {
          "data": { "$ref": "#/components/schemas/ProfileData" }
        }
      },
      "ProfilePhotoUploadRequest": {
        "type": "object",
        "required": ["profile_photo"],
        "properties": {
          "profile_photo": {
            "type": "string",
            "format": "binary",
            "description": "JPEG, PNG, or WebP image; maximum size 2 MB"
          }
        }
      },
      "ProfilePhotoResponse": {
        "type": "object",
        "properties": {
          "message": { "type": "string" },
          "data": { "$ref": "#/components/schemas/ProfileData" }
        }
      },
      "ReaderIdeaRequest": {
        "type": "object",
        "required": ["title", "description"],
        "properties": {
          "title": { "type": "string", "maxLength": 160 },
          "description": { "type": "string", "maxLength": 10000 },
          "category": { "type": "string", "enum": ["app", "books", "quizzes", "community", "other"], "default": "other" },
          "attachment": { "type": "string", "format": "binary", "description": "Optional PDF, JPEG, PNG, WebP, TXT, DOC, or DOCX file up to 10 MB." }
        }
      },
      "ReaderIdea": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "title": { "type": "string" },
          "description": { "type": "string" },
          "category": { "type": "string", "enum": ["app", "books", "quizzes", "community", "other"] },
          "status": { "type": "string", "enum": ["new", "reviewing", "planned", "completed", "declined"] },
          "attachment": {
            "oneOf": [
              { "type": "object", "properties": { "name": { "type": "string" }, "mime_type": { "type": "string" }, "size_bytes": { "type": "integer" }, "download_url": { "type": "string", "format": "uri" } } },
              { "type": "null" }
            ]
          },
          "created_at": { "type": "string", "format": "date-time" },
          "updated_at": { "type": "string", "format": "date-time" }
        }
      },
      "ReaderIdeaResponse": {
        "type": "object",
        "properties": {
          "message": { "type": "string" },
          "data": { "$ref": "#/components/schemas/ReaderIdea" }
        }
      },
      "ReaderIdeasResponse": {
        "type": "object",
        "properties": {
          "data": { "type": "array", "items": { "$ref": "#/components/schemas/ReaderIdea" } },
          "meta": {
            "type": "object",
            "properties": {
              "current_page": { "type": "integer" },
              "last_page": { "type": "integer" },
              "per_page": { "type": "integer" },
              "total": { "type": "integer" }
            }
          }
        }
      },
      "ShowApplicationBook": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "title": { "type": "string" },
          "slug": { "type": "string" }
        }
      },
      "ShowApplicationRecord": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "show": { "type": ["object", "null"], "properties": { "id": { "type": "integer" }, "title": { "type": "string" }, "start_at": { "type": "string", "format": "date-time" }, "status": { "type": "string" } } },
          "book": { "oneOf": [{ "$ref": "#/components/schemas/ShowApplicationBook" }, { "type": "null" }] },
          "motivation": { "type": "string" },
          "quiz_score": { "type": "integer" },
          "status": { "type": "string", "enum": ["pending", "approved", "rejected", "withdrawn"] },
          "created_at": { "type": "string", "format": "date-time" }
        }
      },
      "ShowApplicationResponse": {
        "type": "object",
        "properties": { "message": { "type": "string" }, "data": { "$ref": "#/components/schemas/ShowApplicationRecord" } }
      },
      "ShowApplicationsResponse": {
        "type": "object",
        "properties": { "data": { "type": "array", "items": { "$ref": "#/components/schemas/ShowApplicationRecord" } } }
      },
      "ShowApplicationOptionsResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "show_id": { "type": "integer" },
              "eligible_books": { "type": "array", "items": { "allOf": [{ "$ref": "#/components/schemas/ShowApplicationBook" }], "properties": { "cover_image_url": { "type": ["string", "null"], "format": "uri" } } } }
            }
          }
        }
      },
      "QuizLeaderboardEntry": {
        "type": "object",
        "properties": {
          "rank": { "type": "integer" },
          "user_id": { "type": "integer" },
          "name": { "type": "string" },
          "points": { "type": "integer", "description": "Sum of this reader's best passing score for each published quiz in the selected period." },
          "verified_quizzes": { "type": "integer" }
        }
      },
      "ReadingLeaderboardEntry": {
        "type": "object",
        "properties": {
          "rank": { "type": "integer" },
          "user_id": { "type": "integer" },
          "name": { "type": "string" },
          "completed_books": { "type": "integer", "description": "Distinct books marked completed during the selected period." },
          "book_goals_count": { "type": "integer" },
          "book_goals_achieved": { "type": "integer" },
          "books_goal_progress": { "type": "integer", "description": "Completed books counted across the reader's book goals." },
          "books_goal_target": { "type": "integer", "description": "Total books targeted across the reader's book goals." },
          "goal_completion_rate": { "type": "number", "description": "All-time book-goal progress as a percentage; used as a tie-breaker." }
        }
      },
      "LeaderboardResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": { "oneOf": [
              { "$ref": "#/components/schemas/QuizLeaderboardEntry" },
              { "$ref": "#/components/schemas/ReadingLeaderboardEntry" }
            ] }
          },
          "meta": {
            "type": "object",
            "properties": {
              "type": { "type": "string", "enum": ["reading", "quizzes"] },
              "period": { "type": "string", "enum": ["daily", "weekly", "monthly", "all_time"] },
              "scoring": { "type": "string" },
              "current_page": { "type": "integer" },
              "last_page": { "type": "integer" },
              "per_page": { "type": "integer" },
              "total": { "type": "integer" }
            }
          }
        }
      },
      "DuelReader": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "name": { "type": "string" }
        }
      },
      "DuelBook": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "title": { "type": "string" },
          "slug": { "type": "string" }
        }
      },
      "DuelRecord": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "book": { "$ref": "#/components/schemas/DuelBook" },
          "challenger": { "$ref": "#/components/schemas/DuelReader" },
          "opponent": { "$ref": "#/components/schemas/DuelReader" },
          "status": { "type": "string", "enum": ["pending", "accepted", "rejected", "cancelled", "scheduled", "waiting", "live", "paused", "completed"] },
          "created_at": { "type": "string", "format": "date-time" }
        }
      },
      "DuelResponse": {
        "type": "object",
        "properties": {
          "message": { "type": "string" },
          "data": { "$ref": "#/components/schemas/DuelRecord" }
        }
      },
      "DuelsResponse": {
        "type": "object",
        "properties": {
          "data": { "type": "array", "items": { "$ref": "#/components/schemas/DuelRecord" } },
          "verified_books": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": { "type": "integer" },
                "title": { "type": "string" },
                "slug": { "type": "string" },
                "opponents": { "type": "array", "items": { "$ref": "#/components/schemas/DuelReader" } }
              }
            }
          },
          "meta": {
            "type": "object",
            "properties": {
              "unlocked": { "type": "boolean" },
              "verified_books_count": { "type": "integer" }
            }
          }
        }
      },
      "BookSummary": {
        "type": "object",
        "description": "Published book summary with aggregate metrics for its published quizzes. Reader identities and individual scores are not exposed.",
        "properties": {
          "id": { "type": "integer" },
          "title": { "type": "string" },
          "slug": { "type": "string" },
          "description": { "type": "string" },
          "cover_image": { "type": ["string", "null"] },
          "cover_image_url": { "type": ["string", "null"] },
          "authors": { "type": "array", "items": { "type": "string" } },
          "genres": { "type": "array", "items": { "type": "string" } },
          "publisher": { "type": ["string", "null"] },
          "publication_year": { "type": "integer" },
          "page_count": { "type": ["integer", "null"] },
          "language": { "type": ["string", "null"] },
          "featured": { "type": "boolean" },
          "average_rating": { "type": ["number", "null"] },
          "reader_count": { "type": "integer" },
          "completed_count": { "type": "integer" },
          "duels_count": { "type": "integer" },
          "published_quizzes_count": { "type": "integer" },
          "quiz_readers_count": { "type": "integer", "description": "Distinct readers with at least one attempt on this book's published quizzes." },
          "quiz_attempts_count": { "type": "integer" },
          "quiz_pending_review_attempts_count": { "type": "integer" },
          "quiz_graded_attempts_count": { "type": "integer" },
          "quiz_passed_attempts_count": { "type": "integer" },
          "quiz_average_score": { "type": ["number", "null"], "description": "Average score percentage across graded attempts; pending written responses are excluded." },
          "quiz_pass_rate": { "type": ["number", "null"], "description": "Percentage of graded attempts that passed; null when no graded attempts exist." },
          "quiz_best_score": { "type": ["integer", "null"] },
          "status": { "type": "string" }
        }
      },
      "BooksResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/BookSummary" }
          },
          "meta": {
            "type": "object",
            "properties": {
              "current_page": { "type": "integer" },
              "last_page": { "type": "integer" },
              "per_page": { "type": "integer" },
              "total": { "type": "integer" }
            }
          }
        }
      },
      "ReaderNotification": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "type": { "type": "string" },
          "title": { "type": "string" },
          "body": { "type": "string" },
          "data": { "type": ["object", "null"] },
          "read_at": { "type": ["string", "null"], "format": "date-time" },
          "created_at": { "type": "string", "format": "date-time" }
        }
      },
      "PushTokenRequest": {
        "type": "object",
        "required": ["token"],
        "properties": {
          "token": { "type": "string", "maxLength": 512, "description": "Firebase Cloud Messaging registration token from the Android app." },
          "platform": { "type": "string", "enum": ["android", "ios"], "default": "android" },
          "device_name": { "type": "string", "maxLength": 255 }
        }
      },
      "PushTokenResponse": {
        "type": "object",
        "properties": {
          "message": { "type": "string" },
          "data": {
            "type": "object",
            "properties": {
              "platform": { "type": "string", "enum": ["android", "ios"] },
              "device_name": { "type": ["string", "null"] }
            }
          }
        }
      },
      "QuizAnswerSchema": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "body": { "type": "string" }
        }
      },
      "QuestionSchema": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "prompt": { "type": "string" },
          "question_type": { "type": "string", "enum": ["single_choice", "multiple_choice", "true_false", "one_word", "short_answer", "written_response"] },
          "points": { "type": "integer" },
          "allow_multiple_selection": { "type": "boolean", "description": "True for multiple-choice questions; select every correct choice and no incorrect choices." },
          "response_format": {
            "type": "object",
            "description": "Tells Android which response control to display. Expected answers and marking guides are never returned.",
            "properties": {
              "kind": { "type": "string", "enum": ["choice", "text", "textarea"] },
              "max_length": { "type": "integer" },
              "auto_graded": { "type": "boolean" },
              "requires_review": { "type": "boolean" }
            }
          },
          "answers": { "type": "array", "description": "Choice options only. Text question answer keys are never sent to readers.", "items": { "$ref": "#/components/schemas/QuizAnswerSchema" } }
        }
      },
      "QuizSchema": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "title": { "type": "string" },
          "instructions": { "type": "string" },
          "pass_mark": { "type": "integer" },
          "attempt_limit": { "type": "integer" },
          "attempts_used": { "type": "integer" },
          "best_score": { "type": "integer", "description": "This reader's best score as a percentage from 0 to 100." },
          "latest_attempt": {
            "type": ["object", "null"],
            "properties": {
              "id": { "type": "integer" },
              "review_status": { "type": "string", "enum": ["graded", "pending_review"] },
              "score": { "type": ["integer", "null"] },
              "passed": { "type": ["boolean", "null"] },
              "submitted_at": { "type": "string", "format": "date-time" }
            }
          },
          "duration_minutes": { "type": "integer" },
          "performance": { "$ref": "#/components/schemas/QuizPerformanceSchema" },
          "questions": { "type": "array", "items": { "$ref": "#/components/schemas/QuestionSchema" } }
        }
      },
      "QuizPerformanceSchema": {
        "type": "object",
        "description": "Public aggregate results; no individual reader scores or identities are disclosed.",
        "properties": {
          "readers_count": { "type": "integer" },
          "attempts_count": { "type": "integer" },
          "pending_review_attempts_count": { "type": "integer" },
          "graded_attempts_count": { "type": "integer" },
          "passed_attempts_count": { "type": "integer" },
          "average_score": { "type": ["number", "null"], "description": "Average graded score; pending written responses are excluded." },
          "pass_rate": { "type": ["number", "null"], "description": "Percentage of graded attempts that passed; null when none are graded." },
          "best_score": { "type": ["integer", "null"] }
        }
      },
      "QuizDetailResponse": {
        "type": "object",
        "properties": {
          "data": { "$ref": "#/components/schemas/QuizSchema" }
        }
      },
      "BookDetailResponse": {
        "type": "object",
        "description": "Book details, published quizzes, and aggregate quiz performance. Reader identities and individual scores are not exposed.",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "id": { "type": "integer" },
              "title": { "type": "string" },
              "slug": { "type": "string" },
              "description": { "type": "string" },
              "cover_image": { "type": ["string", "null"] },
              "cover_image_url": { "type": ["string", "null"] },
              "authors": { "type": "array", "items": { "type": "string" } },
              "genres": { "type": "array", "items": { "type": "string" } },
              "publisher": { "type": ["string", "null"] },
              "published_quizzes_count": { "type": "integer" },
              "quiz_readers_count": { "type": "integer" },
              "quiz_attempts_count": { "type": "integer" },
              "quiz_pending_review_attempts_count": { "type": "integer" },
              "quiz_graded_attempts_count": { "type": "integer" },
              "quiz_passed_attempts_count": { "type": "integer" },
              "quiz_average_score": { "type": ["number", "null"] },
              "quiz_pass_rate": { "type": ["number", "null"] },
              "quiz_best_score": { "type": ["integer", "null"] },
              "publication_year": { "type": "integer" },
              "page_count": { "type": "integer" },
              "language": { "type": "string" },
              "isbn": { "type": "string" },
              "pdf_url": { "type": ["string", "null"] },
              "progress": { "type": ["object", "null"], "additionalProperties": true },
              "status": { "type": "string" },
              "quizzes": { "type": "array", "items": { "$ref": "#/components/schemas/QuizSchema" } }
            }
          }
        }
      },
      "PublicBookQuizPerformanceResponse": {
        "type": "object",
        "description": "Aggregate performance data for one published book and each of its published quizzes. No reader identities or individual scores are included.",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "book": {
                "type": "object",
                "properties": {
                  "id": { "type": "integer" },
                  "title": { "type": "string" },
                  "slug": { "type": "string" }
                }
              },
              "performance": {
                "type": "object",
                "properties": {
                  "published_quizzes_count": { "type": "integer" },
                  "readers_count": { "type": "integer" },
                  "attempts_count": { "type": "integer" },
                  "pending_review_attempts_count": { "type": "integer" },
                  "graded_attempts_count": { "type": "integer" },
                  "passed_attempts_count": { "type": "integer" },
                  "average_score": { "type": ["number", "null"] },
                  "pass_rate": { "type": ["number", "null"] },
                  "best_score": { "type": ["integer", "null"] }
                }
              },
              "quizzes": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": { "type": "integer" },
                    "title": { "type": "string" },
                    "questions_count": { "type": "integer" },
                    "readers_count": { "type": "integer" },
                    "attempts_count": { "type": "integer" },
                    "pending_review_attempts_count": { "type": "integer" },
                    "graded_attempts_count": { "type": "integer" },
                    "passed_attempts_count": { "type": "integer" },
                    "average_score": { "type": ["number", "null"] },
                    "pass_rate": { "type": ["number", "null"] },
                    "best_score": { "type": ["integer", "null"] }
                  }
                }
              }
            }
          }
        }
      },
      "ProgressSyncRequest": {
        "type": "object",
        "required": ["current_page"],
        "properties": {
          "current_page": { "type": "integer", "example": 25 }
        }
      },
      "ProgressSyncResponse": {
        "type": "object",
        "properties": {
          "message": { "type": "string" },
          "data": {
            "type": "object",
            "properties": {
              "book_id": { "type": "integer" },
              "current_page": { "type": "integer" },
              "pages_read_total": { "type": "integer" },
              "last_progress_at": { "type": ["string", "null"], "format": "date-time" }
            }
          }
        }
      },
      "QuizSubmissionRequest": {
        "type": "object",
        "required": ["answers"],
        "properties": {
          "answers": {
            "type": "object",
            "description": "Map each question ID to an answer ID, an array of selected answer IDs, or a text string. Use an array for multiple-choice questions. One-word and short answers are auto-marked against accepted variants; written_response answers are held for administrator review.",
            "additionalProperties": {
              "oneOf": [
                { "type": "integer", "description": "Selected answer ID for single-choice and true/false questions." },
                {
                  "type": "array",
                  "minItems": 1,
                  "uniqueItems": true,
                  "items": { "type": "integer" },
                  "description": "Selected answer IDs; include every correct choice for multi-select questions."
                },
                { "type": "string", "maxLength": 5000, "description": "Typed response for one-word, short-answer, or written-response questions." }
              ]
            },
            "example": { "1": [3, 5] }
          }
        }
      },
      "QuizSubmissionResponse": {
        "type": "object",
        "properties": {
          "message": { "type": "string" },
          "data": {
            "type": "object",
            "properties": {
              "score": { "type": ["integer", "null"], "description": "Null until written responses are reviewed." },
              "passed": { "type": ["boolean", "null"], "description": "Null until written responses are reviewed." },
              "review_status": { "type": "string", "enum": ["graded", "pending_review"] },
              "attempt_id": { "type": "integer" },
              "attempts_used": { "type": "integer" }
            }
          }
        }
      }
    }
  }
}
